Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write", "yarn check:unused:exports"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

RB-179: fix overflows in the dashboard.tsx
  src/entities/councils/ui/councils/councils.tsx
  src/entities/dashboard/ui/dashboard.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

[WIP] RB-179: fix mobile interface (#134)
  src/entities/councils/ui/councils/councils.tsx
  src/entities/dashboard/ui/dashboard.tsx
  src/entities/proposal/ui/proposal.module.css
  src/entities/treasury/ui/treasury-info.tsx
  src/features/notifications/ui/notifications.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-180: [Streams] Fix available for contract tokens & actual balance for token by currentDAO (#133)
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/treasury/model/treasury.ts
  src/entities/wallet.ts
  src/shared/api/roketo/contract.types.ts
  src/shared/api/roketo/entities.ts
  src/shared/api/roketo/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [DAO] Dao env for mainnet
  .env.mainnet
Due: none

RB-0: [DAO] Dao env for mainnet (#137)
  .env.mainnet
Due: none

TRIVIAL: Update my near wallet url for local near connection
  .env
  .env.mainnet
  src/shared/api/near/near.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Update my near wallet url for local near connection (#138)
  .env
  .env.mainnet
  src/shared/api/near/near.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Streams] load token balance
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/treasury/model/treasury.ts
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
  src/entities/wallet.ts
  src/shared/api/roketo/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Layout] Close left menu after choose another route path
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
  src/shared/ui/components/navigate/navigate.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Layout] Close left menu after choose another route path
  src/shared/ui/components/navigate/navigate.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Layout] Long accountId
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/navigate/navigate.module.css
  src/shared/ui/components/navigate/navigate.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Layout] Long accountId
  src/entities/employees/ui/add-employee-form.tsx
  src/features/dao/ui/dao-init.tsx
  src/features/dao/ui/dao-new.tsx
  src/features/dao/ui/dao-switcher.tsx
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/navigate/navigate.module.css
  src/shared/ui/components/navigate/navigate.tsx
  src/shared/ui/components/typography/typography.tsx
  src/shared/ui/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: Boost truncate with witdth inheritance
  src/entities/councils/ui/councils-list/councils-list.tsx
  src/entities/employees/ui/add-employee-form.tsx
  src/entities/proposal/ui/council-control/council-control.tsx
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.module.css
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
  src/entities/proposal/ui/create-proposal-form/type/change-policy.module.css
  src/entities/proposal/ui/create-proposal-form/type/remove-council.tsx
  src/features/dao/ui/dao-init.tsx
  src/features/dao/ui/dao-new.tsx
  src/features/dao/ui/dao-switcher.tsx
  src/shared/ui/components/button/button.module.css
  src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.module.css
  src/shared/ui/components/dropdown-menu/dropdown-item/dropdown-item.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/navigate/navigate.module.css
  src/shared/ui/components/navigate/navigate.tsx
  src/shared/ui/components/typography/typography.tsx
  src/shared/ui/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: Close menu on mobile (#141)
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
  src/shared/ui/components/navigate/navigate.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Streams] load token balance (#140)
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/treasury/model/treasury.ts
  src/entities/wallet.ts
  src/shared/api/roketo/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Update src/shared/ui/components/typography/typography.tsx
  src/shared/ui/components/typography/typography.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: Boost truncate with witdth inheritance (#143)
  src/entities/councils/ui/councils-list/councils-list.tsx
  src/entities/employees/ui/add-employee-form.tsx
  src/entities/proposal/ui/council-control/council-control.tsx
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.module.css
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
  src/entities/proposal/ui/create-proposal-form/type/change-policy.module.css
  src/entities/proposal/ui/create-proposal-form/type/remove-council.tsx
  src/features/dao/ui/dao-init.tsx
  src/features/dao/ui/dao-new.tsx
  src/features/dao/ui/dao-switcher.tsx
  src/shared/ui/components/button/button.module.css
  src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.module.css
  src/shared/ui/components/dropdown-menu/dropdown-item/dropdown-item.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/navigate/navigate.module.css
  src/shared/ui/components/navigate/navigate.tsx
  src/shared/ui/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Layout] Long accountId (#142)
  src/entities/councils/ui/councils-list/councils-list.tsx
  src/entities/employees/ui/add-employee-form.tsx
  src/entities/proposal/ui/council-control/council-control.tsx
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.module.css
  src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
  src/entities/proposal/ui/create-proposal-form/type/change-policy.module.css
  src/entities/proposal/ui/create-proposal-form/type/remove-council.tsx
  src/features/dao/ui/dao-init.tsx
  src/features/dao/ui/dao-new.tsx
  src/shared/ui/components/button/button.module.css
  src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.module.css
  src/shared/ui/components/dropdown-menu/dropdown-item/dropdown-item.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/navigate/navigate.module.css
  src/shared/ui/components/navigate/navigate.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

Update docker-compose.yaml
  docker-compose.yaml
Due: none

RB-0: Correct sender and receiver on stream page
  src/entities/stream/model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: Correct sender and receiver on stream page (#144)
  src/entities/stream/model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Trivial: clean up unused dependencies
  package.json
  yarn.lock
Due: prettier --write --parser json

Trivial: restore effector-logger
  package.json
  yarn.lock
Due: prettier --write --parser json

Update newDao.page.ts
  tests/pages/newDao.page.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Trivial: clean up unused dependencies (#139)
  package.json
  tests/pages/newDao.page.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: [E22] Transfer nears for test account
  .github/workflows/quality.yaml
  .scripts/transferNearForTestAccount.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0 readable variable name
  .scripts/transferNearForTestAccount.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [E22] Transfer nears for test account (#145)
  .github/workflows/quality.yaml
  .scripts/transferNearForTestAccount.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-123: [Governance] Add check if council with given id exists
  src/entities/governance/model/governance.ts
  src/entities/proposal/lib/i18n/proposalEn.json
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: [Governance] Change option mapper
  src/entities/governance/model/governance.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: [Governance] Change option mapper / functional call
  src/entities/governance/model/governance.ts
  src/entities/treasury/model/treasury.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-function-call-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: [Governance] Change option mapper / act_proposal
  src/entities/proposal/model/proposal.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: [Governance] remove instance sputnik dao contract
  src/entities/dao.ts
  src/entities/proposal/model/proposal.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: [Governance] fix exports
  src/entities/wallet.ts
  src/shared/api/near/contracts/sputnik-dao/contract.ts
  src/shared/api/near/contracts/sputnik-dao/index.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/vote-action.types.ts
  src/shared/api/near/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: WalletSelector the best decision for transactions (#147)
  src/entities/dao.ts
  src/entities/governance/model/governance.ts
  src/entities/proposal/model/proposal.ts
  src/entities/treasury/model/treasury.ts
  src/entities/wallet.ts
  src/shared/api/near/contracts/sputnik-dao/contract.ts
  src/shared/api/near/contracts/sputnik-dao/index.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-function-call-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/vote-action.types.ts
  src/shared/api/near/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-123: [Governance] Add check if council with given id exists (#146)
  src/entities/governance/model/governance.ts
  src/entities/proposal/lib/i18n/proposalEn.json
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-138: make form validator able to use generic type
  src/shared/lib/form/validators.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: connect form with rb-api
  src/entities/employee/model/employee-model.ts
  src/entities/employees/ui/add-employee-form.tsx
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

myNearWallet test
  tests/fixtures/myNearWallet-authenticated-storage.json
Due: prettier --write --parser json

myNearWallet test
  tests/page-objects/near-wallet.ts
  tests/pages/login.page.ts
  tests/suites/createDaomyNearWallet.e2e.ts
  tests/suites/login.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports
