Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write", "yarn check:unused:exports"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

RB-0: [Test] data attributes for button
  packages/core/ui/components/button/button.tsx
  packages/core/ui/components/control/control.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

make deploy not start ay deployfiles change's and make regisry great again
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  packages/near-dapp/docker-compose.yaml
  packages/solana-dapp/docker-compose.yaml
Due: none

fix name
  .github/workflows/deploy_reusable.yaml
Due: none

fix path and path_ignore useage
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
Due: none

fix registry url
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

fix reg name
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

fix branch name
  .github/workflows/deploy_reusable.yaml
Due: none

RB-216: fix i18n usage in update-employee-modal.tsx
  packages/near-dapp/src/entities/employee/ui/update-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-216: fix mobile view in create and update employee forms
  packages/near-dapp/src/entities/employee/ui/update-employee-modal.tsx
  packages/near-dapp/src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-216: make employee page more like in design
  packages/near-dapp/src/entities/employee/ui/employee.module.css
  packages/near-dapp/src/entities/employee/ui/employee.tsx
  packages/near-dapp/tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

add cache
  .github/workflows/deploy_reusable.yaml
Due: none

RB-216: Make employee page more like in design (#196)
  packages/near-dapp/src/entities/employee/ui/employee.module.css
  packages/near-dapp/src/entities/employee/ui/employee.tsx
  packages/near-dapp/src/entities/employee/ui/update-employee-modal.tsx
  packages/near-dapp/src/entities/employees/ui/create-employee-modal.tsx
  packages/near-dapp/tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

try to get status-code
  .github/workflows/deploy_reusable.yaml
Due: none

try to test get-status code
  packages/near-dapp/static-server.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

fix for default branch
  .github/workflows/deploy_reusable.yaml
Due: none

exit code
  .github/workflows/deploy_reusable.yaml
Due: none

exit solana on start
  packages/solana-dapp/static-server.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

upd deply url
  .github/workflows/deploy_reusable.yaml
Due: none

add error message and exit code
  .github/workflows/deploy_reusable.yaml
Due: none

up all services
  packages/near-dapp/static-server.js
  packages/solana-dapp/static-server.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-295: Template Dockerfile
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  Dockerfile
  packages/near-dapp/Dockerfile
  packages/near-dapp/package.json
  packages/solana-dapp/Dockerfile
Due: prettier --write --parser json

fix state manager
  .github/workflows/deploy_reusable.yaml
Due: none

fix here there
  .github/workflows/deploy_reusable.yaml
Due: none

RB-295: Regenerate api and fix api types
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

fix state place
  .github/workflows/deploy_reusable.yaml
Due: none

RB-295: Template Dockerfile (#197)
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  Dockerfile
  packages/near-dapp/Dockerfile
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
  packages/solana-dapp/Dockerfile
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-283: move rb-api to separate package
  .gitignore
  Dockerfile
  packages/astro-api/generate.js
  packages/astro-api/package.json
  packages/get-dotenv/get-dotenv.js
  packages/get-dotenv/package.json
  packages/near-dapp/.env.test
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/authentication-rb-api.ts
  packages/near-dapp/src/entities/employee/ui/employee-status-actions.tsx
  packages/near-dapp/src/entities/employee/ui/employee-type.tsx
  packages/near-dapp/src/shared/api/astro/generated/astro-api.ts
  packages/near-dapp/src/shared/api/astro/index.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
  packages/near-dapp/src/shared/api/rb/index.ts
  packages/near-dapp/vite.config.js
  packages/rb-api/generate.js
  packages/rb-api/package.json
  packages/rb-api/templates/api.ejs
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-283: move rb-api to separate package (#193)
  .gitignore
  Dockerfile
  packages/astro-api/generate.js
  packages/astro-api/package.json
  packages/get-dotenv/get-dotenv.js
  packages/get-dotenv/package.json
  packages/near-dapp/.env.test
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/authentication-rb-api.ts
  packages/near-dapp/src/entities/employee/ui/employee-status-actions.tsx
  packages/near-dapp/src/entities/employee/ui/employee-type.tsx
  packages/near-dapp/src/shared/api/astro/generated/astro-api.ts
  packages/near-dapp/src/shared/api/astro/index.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
  packages/near-dapp/src/shared/api/rb/index.ts
  packages/near-dapp/vite.config.js
  packages/rb-api/generate.js
  packages/rb-api/package.json
  packages/rb-api/templates/api.ejs
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-108: [Login] Change text for select DAO by account with one DAO
  packages/near-dapp/src/features/dao/lib/i18n/daoEn.json
  packages/near-dapp/src/features/dao/ui/dao-init.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-249: DAO --> Safe, councils --> keys
  packages/near-dapp/.env
  packages/near-dapp/src/entities/councils/lib/i18n/councilsEn.json
  packages/near-dapp/src/entities/dashboard/lib/i18n/dashboardEn.json
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/features/dao/lib/i18n/daoEn.json
Due: prettier --write --parser json

RB-249: DAO --> Safe, councils --> keys
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/features/dao/lib/i18n/daoEn.json
Due: prettier --write --parser json

RB-167: Connect GA
  packages/core/package.json
  packages/core/ui/components/analytics.tsx
  packages/core/ui/components/layout/layout.tsx
  packages/core/ui/components/layout/provider.tsx
  packages/near-dapp/.env
  packages/near-dapp/.env.local.example
  packages/near-dapp/.env.mainnet
  packages/near-dapp/.env.test
  packages/near-dapp/package.json
  packages/near-dapp/src/app/root.tsx
  packages/near-dapp/src/shared/config/env.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-167: Connect GA (#201)
  packages/core/package.json
  packages/core/ui/components/analytics.tsx
  packages/core/ui/components/layout/layout.tsx
  packages/core/ui/components/layout/provider.tsx
  packages/near-dapp/.env
  packages/near-dapp/.env.local.example
  packages/near-dapp/.env.mainnet
  packages/near-dapp/.env.test
  packages/near-dapp/package.json
  packages/near-dapp/src/app/root.tsx
  packages/near-dapp/src/shared/config/env.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-312: Intercom connect
  packages/core/package.json
  packages/core/ui/components/analytics.tsx
  packages/core/ui/components/layout/provider.tsx
  packages/near-dapp/.env
  packages/near-dapp/package.json
  packages/near-dapp/src/app/root.tsx
  packages/near-dapp/src/features/auth/ui/login-portlet.tsx
  packages/near-dapp/src/pages/index.tsx
  packages/near-dapp/src/shared/config/env.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-312: Intercom connect (#202)
  packages/core/package.json
  packages/core/ui/components/analytics.tsx
  packages/core/ui/components/layout/provider.tsx
  packages/near-dapp/.env
  packages/near-dapp/package.json
  packages/near-dapp/src/app/root.tsx
  packages/near-dapp/src/features/auth/ui/login-portlet.tsx
  packages/near-dapp/src/pages/index.tsx
  packages/near-dapp/src/shared/config/env.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-312: Show intercom on leave contact info click
  packages/near-dapp/.env
  packages/near-dapp/src/features/auth/lib/i18n/authEn.json
  packages/near-dapp/src/features/auth/ui/login-portlet.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-291: refactor employees filters, add mobile view
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/employees/ui/employees-filters.module.css
  packages/near-dapp/src/entities/employees/ui/employees-filters.tsx
  packages/near-dapp/src/entities/employees/ui/employees.module.css
  packages/near-dapp/src/entities/employees/ui/employees.tsx
  packages/near-dapp/src/entities/employees/ui/filter.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-312: Show intercom on leave contact info click (#203)
  packages/near-dapp/.env
  packages/near-dapp/src/features/auth/lib/i18n/authEn.json
  packages/near-dapp/src/features/auth/ui/login-portlet.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json
