Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: [Infra] Change `gcr.io/main-project-354317/` for the `registry.roket.itgage.ru`
  .github/workflows/cicd_testnet.yaml
Due: none

RB-0: [Infra] Change `gcr.io/main-project-354317/` for the `registry.roket.itgage.ru` (#166)
  .github/workflows/cicd_testnet.yaml
Due: none

RB-214: [Validation] employee and refactoring
  src/entities/account-exist-effect.ts
  src/entities/employee/model/employee-model.ts
  src/entities/governance/model/governance.ts
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-214: [Validation] Add wallet validation to all forms
  src/entities/governance/model/governance.ts
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-225: Stub for blockchain drops
  .env
  src/app/root.tsx
  src/entities/app.ts
  src/shared/api/near/near.ts
  src/shared/config/env.ts
  src/shared/ui/components/page-stub/page-stub.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-225: text from `t`-package
  src/app/initI18n.ts
  src/app/root.tsx
  src/pages/nft.tsx
  src/shared/api/near/near.ts
  src/shared/lib/i18n/stubEn.json
  src/shared/ui/components/page-stub/page-stub.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-214: [Validation] employee and refactoring (#165)
  src/entities/account-exist-effect.ts
  src/entities/employee/model/employee-model.ts
  src/entities/governance/model/governance.ts
  src/entities/proposal/ui/create-proposal-form/type/add-council.tsx
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-225: Stub for blockchain drops (#167)
  .env
  src/app/initI18n.ts
  src/app/root.tsx
  src/entities/app.ts
  src/pages/nft.tsx
  src/shared/api/near/near.ts
  src/shared/config/env.ts
  src/shared/lib/i18n/stubEn.json
  src/shared/ui/components/page-stub/page-stub.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-227: Copy `dao address` button
  package.json
  src/entities/treasury/lib/i18n/treasuryEn.json
  src/entities/treasury/ui/funds/add-funds-button.tsx
  src/entities/treasury/ui/funds/add-funds-modal.tsx
  src/entities/treasury/ui/treasury-info.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-227: Copy `dao address` button
  src/entities/treasury/ui/funds/add-funds-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-227: [Treasury] Copy `dao address` button (#168)
  package.json
  src/entities/treasury/lib/i18n/treasuryEn.json
  src/entities/treasury/ui/funds/add-funds-button.tsx
  src/entities/treasury/ui/funds/add-funds-modal.tsx
  src/entities/treasury/ui/treasury-info.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-230: [Employee] Disable role requirement
  src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-235: [Employee] Amount not readable
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-230: [Employee] Disable role requirement (#169)
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: Fix ci_cd
  .github/workflows/cicd_prod_or_testnet.yaml
  .github/workflows/quality.yaml
  .github/workflows/rb_testnet.yaml
  packages/near-dapp/package.json
Due: prettier --write --parser json

TRIVIAL: fix workspace name
  .gitignore
  package.json
Due: prettier --write --parser json

TRIVIAL: fix tabs
  .github/workflows/quality.yaml
Due: none

TRIVIAL: fix cicd_testnet
  .github/workflows/cicd_testnet.yaml
Due: none

TRIVIAL: fix quality
  .github/workflows/quality.yaml
Due: none

TRIVIAL: fix dockerfile
  packages/near-dapp/Dockerfile
Due: none

TRIVIAL: fix quality path
  .github/workflows/quality.yaml
Due: none

TRIVIAL: rename
  .github/workflows/quality.yaml
Due: none

TRIVIAL: path to Dockerfile
  .github/workflows/cicd_testnet.yaml
Due: none

TRIVIAL: path to ./packages/near-dapp/playwright-report/
  .github/workflows/quality.yaml
Due: none

TRIVIAL: eslintrc
  packages/near-dapp/.eslintrc
Due: prettier --write --parser json

TRIVIAL: eslintrc
  packages/near-dapp/.eslintrc
  yarn.lock
Due: prettier --write --parser json

TRIVIAL: fix eslintrc by tsconfig
  packages/near-dapp/tsconfig.json
  tsconfig.json
Due: prettier --write --parser json

TRIVIAL: fix Dockerfile
  packages/near-dapp/Dockerfile
Due: none

TRIVIAL: fix Dockerfile & types
  .dockerignore
  packages/near-dapp/Dockerfile
  packages/near-dapp/README.md
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  packages/near-dapp/src/entities/stream-control/WithdrawAllButton/model.ts
  packages/near-dapp/src/shared/kit/AdaptiveModal/index.tsx
  packages/near-dapp/src/shared/lib/router/private-route.tsx
  packages/near-dapp/src/shared/ui/components/input/input.tsx
  packages/near-dapp/src/shared/ui/components/modal/modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: fix
  package.json
  packages/near-dapp/Dockerfile
Due: prettier --write --parser json

TRIVIAL: fix Dockerfile
  .gitignore
  packages/near-dapp/Dockerfile
Due: none

TRIVIAL: fix script
  packages/near-dapp/package.json
Due: prettier --write --parser json

TRIVIAL: fix script
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

TRIVIAL: fix script
  .github/workflows/deploy_prod_mainnet.yaml
Due: none

TRIVIAL: fix `Build and push image`
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
Due: none

TRIVIAL: fix `Build and push image prod_testnet`
  .github/workflows/deploy_prod_testnet.yaml
Due: none

TRIVIAL: change `gcr.io/main-project-354317` to `registry.roket.itgage.ru`
  .github/workflows/deploy_prod_testnet.yaml
Due: none

RB-149: [Governance]. Change charge to charged (spelling error)
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
