Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write", "yarn check:unused:exports"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

RB-190: [dropdown] Show full status & type
  src/features/dao/ui/dao-switcher.tsx
  src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.module.css
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: fix date format
  src/shared/ui/components/datepicker/datepicker.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: refactor create employee button, put modal inside
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/ui/add-employee-modal.tsx
  src/entities/employees/ui/create-employee-button.tsx
  src/entities/employees/ui/create-employee-modal.tsx
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-193: [Streams] Update package version @roketo/sdk & remove redundant code
  package.json
  src/entities/create-stream/TokenSelector/index.tsx
  src/entities/create-stream/lib.ts
  src/entities/steam-add-funds/index.tsx
  src/entities/stream-control/StreamControls/index.tsx
  src/entities/stream-control/StreamStatus.tsx
  src/entities/stream-control/WithdrawAllButton/model.ts
  src/entities/stream-control/WithdrawButton/index.tsx
  src/entities/stream/model.ts
  src/entities/streams/StreamsList/index.tsx
  src/entities/streams/constants.ts
  src/entities/streams/lib.ts
  src/entities/streams/model.ts
  src/entities/streams/types.ts
  src/entities/wallet.ts
  src/shared/api/roketo/contract.types.ts
  src/shared/api/roketo/entities.ts
  src/shared/api/roketo/lib.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

Revert "RB-193: [Streams] Update package version @roketo/sdk & remove redundant code"
  package.json
  src/entities/create-stream/TokenSelector/index.tsx
  src/entities/create-stream/lib.ts
  src/entities/steam-add-funds/index.tsx
  src/entities/stream-control/StreamControls/index.tsx
  src/entities/stream-control/StreamStatus.tsx
  src/entities/stream-control/WithdrawAllButton/model.ts
  src/entities/stream-control/WithdrawButton/index.tsx
  src/entities/stream/model.ts
  src/entities/streams/StreamsList/index.tsx
  src/entities/streams/constants.ts
  src/entities/streams/lib.ts
  src/entities/streams/model.ts
  src/entities/streams/types.ts
  src/entities/wallet.ts
  src/shared/api/roketo/contract.types.ts
  src/shared/api/roketo/entities.ts
  src/shared/api/roketo/lib.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-190: [dropdown] Show full status & type (#150)
  src/features/dao/ui/dao-switcher.tsx
  src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.module.css
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-191: [Proposal] fix proposal form when account name is long
  src/entities/proposal/ui/proposal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: add modal closing after employee successful creation
  src/entities/employee/model/employee-model.ts
  src/entities/employees/ui/create-employee-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: add refetch employees after the successful employee creation
  src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: fix css in employees list view
  src/entities/employees/ui/employee-card.module.css
  src/entities/employees/ui/employees.module.css
Due: prettier --write

RB-191: [Proposal] fix proposal form when account name is long (#152)
  src/entities/proposal/ui/proposal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-193: [Streams] Update package version @roketo/sdk & remove redundant code
  package.json
  src/entities/create-stream/TokenSelector/index.tsx
  src/entities/create-stream/lib.ts
  src/entities/steam-add-funds/index.tsx
  src/entities/stream-control/StreamControls/index.tsx
  src/entities/stream-control/StreamStatus.tsx
  src/entities/stream-control/WithdrawAllButton/model.ts
  src/entities/stream-control/WithdrawButton/index.tsx
  src/entities/stream/model.ts
  src/entities/streams/StreamsList/index.tsx
  src/entities/streams/constants.ts
  src/entities/streams/lib.ts
  src/entities/streams/model.ts
  src/entities/streams/types.ts
  src/entities/wallet.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-193: [Streams] Update package version @roketo/sdk & remove redunda… (#151)
  package.json
  src/entities/wallet.ts
  src/shared/api/roketo/contract.types.ts
  src/shared/api/roketo/entities.ts
  src/shared/api/roketo/lib.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: [DAO] DaoManger for convenient test writing
  src/entities/governance/model/governance.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
  src/shared/api/near/contracts/sputnik-factory-dao/map-create-args.ts
  src/shared/lib/base64.ts
  tests/fixtures/testnet/rocketobiztestuser.testnet.json
  tests/shared/dao-management.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: [DAO] DaoManger for convenient test writing
  tests/shared/dao-management.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: remove page stub related to the prod env
  src/pages/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: [DAO] DaoManager for convenient test writing (#153)
  src/entities/governance/model/governance.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.spec.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
  src/shared/api/near/contracts/sputnik-factory-dao/map-create-args.ts
  src/shared/lib/base64.ts
  tests/fixtures/testnet/rocketobiztestuser.testnet.json
  tests/shared/dao-management.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-138: refactor toggleCreateEmployeeModal event
  src/entities/employee/model/employee-model.ts
  src/entities/employees/ui/create-employee-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: integrate employee add-form with rb api (#148)
  src/entities/employee/model/employee-model.ts
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/add-employee-modal.tsx
  src/entities/employees/ui/create-employee-button.tsx
  src/entities/employees/ui/create-employee-modal.tsx
  src/entities/employees/ui/employee-card.module.css
  src/entities/employees/ui/employees.module.css
  src/entities/employees/ui/employees.tsx
  src/pages/employees.tsx
  src/shared/api/rb/generated/rb-api.ts
  src/shared/lib/form/validators.ts
  src/shared/ui/components/datepicker/datepicker.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-202: [Streams] Refactoring
  src/entities/transactions.ts
  src/entities/wallet.ts
  src/shared/api/near/near.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: fix startDate passing
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-138: fix startDate passing (#154)
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-156: [Proposals] Incorrect filters
  src/entities/governance/model/governance.ts
  src/entities/streams/model.ts
  src/entities/treasury/model/treasury.ts
  src/shared/api/astro/generated/astro-api.ts
  src/shared/lib/get-quorum-value.ts
  src/shared/lib/requestQueryBuilder/add-kind-proposal-query.ts
  src/shared/lib/requestQueryBuilder/add-status-proposal-query.ts
  src/shared/types/proposal.types.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-156: [Proposals] Incorrect filters
  src/entities/governance/model/governance.ts
  src/entities/streams/model.ts
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-156: [Proposals] api without search query
  src/entities/governance/model/governance.ts
  src/entities/streams/model.ts
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-156: [Proposals] Incorrect filters (#155)
  src/entities/governance/model/governance.ts
  src/entities/streams/model.ts
  src/entities/treasury/model/treasury.ts
  src/shared/api/astro/generated/astro-api.ts
  src/shared/lib/get-quorum-value.ts
  src/shared/lib/requestQueryBuilder/add-kind-proposal-query.ts
  src/shared/lib/requestQueryBuilder/add-status-proposal-query.ts
  src/shared/types/proposal.types.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-206: [Infra] Step for generation types api 'astro-api-getaway' & 'bis-api'
  Dockerfile
  package.json
Due: prettier --write --parser json

fix random stop container
  docker-compose.yaml
Due: none

fix misstap
  docker-compose.yaml
Due: none

RB-206: [Infra] one command with set arguments
  .github/workflows/cicd_prod.yaml
  .github/workflows/cicd_testnet.yaml
  Dockerfile
  package.json
Due: prettier --write --parser json

RB-206: Use dotenv vars when generate API
  .github/workflows/cicd_prod.yaml
  .github/workflows/cicd_testnet.yaml
  Dockerfile
  get-dotenv.js
  package.json
  src/shared/api/rb/generated/rb-api.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-206: Use dotenv vars when generate API (#159)
  .github/workflows/cicd_prod.yaml
  .github/workflows/cicd_testnet.yaml
  Dockerfile
  get-dotenv.js
  package.json
  src/shared/api/rb/generated/rb-api.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-206: Update API with latest changes
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-206: [Infra] Step for generation types api 'astro-api-getaway' & '… (#156)
  Dockerfile
  get-dotenv.js
  package.json
  src/shared/api/rb/generated/rb-api.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-204: set create treasury proposal form with values from draft invoice
  src/entities/employees/model/employees-model.ts
  src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: add draftInvoice component
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/draft-invoice.tsx
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json
