Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_test_testnet.yaml
  packages/solana-dapp/src/entities/app.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Rb-253: [Infra] Template gh actions
  packages/near-dapp/tests/suites/addContractor.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Rb-253: [Infra] Template gh actions
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_reusable.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_test_testnet.yaml
Due: none

Rb-253: [Infra] Template gh actions
  packages/solana-dapp/Dockerfile
Due: none

Rb-247: [Solana] Integrate solana auth via wallet-adapter
  packages/solana-dapp/src/shared/lib/polyfill.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-238: add mask='number' to the employee salary inputs
  packages/near-dapp/src/entities/employee/ui/update-employee-modal.tsx
  packages/near-dapp/src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-253: [Infra] Template gh actions (#182)
  .github/actions/yarn-nm-install/action.yml
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/playwright.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  .husky/pre-commit
  packages/solana-dapp/Dockerfile
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/shared/lib/polyfill.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-253: [Infra] Fix path to docker-compose file
  .github/workflows/deploy_reusable.yaml
Due: none

RB-253: [Infra] Fix package-name & app name for mainnet solana
  .github/workflows/deploy_prod_mainnet.yaml
Due: none

RB-238: add mask='number' to the employee salary inputs (#183)
  packages/near-dapp/src/entities/employee/ui/update-employee-modal.tsx
  packages/near-dapp/src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Expose process.env for build
  packages/near-dapp/env.d.ts
  packages/near-dapp/near-seed-phrase.d.ts
  packages/near-dapp/package.json
  packages/near-dapp/src/shared/config/env.ts
  packages/near-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/tsconfig.json
  packages/near-dapp/vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: Expose process.env for build (#185)
  packages/near-dapp/env.d.ts
  packages/near-dapp/near-seed-phrase.d.ts
  packages/near-dapp/package.json
  packages/near-dapp/src/shared/config/env.ts
  packages/near-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/tsconfig.json
  packages/near-dapp/vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: Try another env var for branch ref
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: test enviroment
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: test enviroment (2)
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: remove doubles from near-dapp/package.json and regenerate lockfile
  packages/near-dapp/package.json
  yarn.lock
Due: prettier --write --parser json

TRIVIAL: test enviroment (3)
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: test enviroment (4)
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: test enviroment (5)
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: test enviroment (6)
  .github/workflows/deploy_reusable.yaml
Due: none

TRIVIAL: remove doubles from near-dapp/package.json and regenerate lockfile (#187)
  packages/near-dapp/package.json
  yarn.lock
Due: prettier --write --parser json

TRIVIAL: Try another env var for branch ref (#186)
  .github/workflows/deploy_reusable.yaml
Due: none

RB-212: fix text overflow in the employee card
  packages/near-dapp/src/entities/employees/ui/employee-card.module.css
Due: prettier --write

RB-283: Replace imports for components
  packages/near-dapp/src/shared/ui/components/control/control.tsx
  packages/near-dapp/src/shared/ui/components/datepicker/datepicker.tsx
  packages/near-dapp/src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.tsx
  packages/near-dapp/src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  packages/near-dapp/src/shared/ui/components/input-dropdown/input-dropdown.tsx
  packages/near-dapp/src/shared/ui/components/layout/type/main.tsx
  packages/near-dapp/src/shared/ui/components/navigate/navigate.tsx
  packages/near-dapp/src/shared/ui/components/part-visible-list/part-visible-list.tsx
  packages/near-dapp/src/shared/ui/components/pie-chart/get-pie-chart-data.spec.ts
  packages/near-dapp/src/shared/ui/components/pie-chart/pie-chart.tsx
  packages/near-dapp/src/shared/ui/components/radio-group/radio-group-item.tsx
  packages/near-dapp/src/shared/ui/components/radio-select/radio-select.tsx
  packages/near-dapp/src/shared/ui/components/show-more/show-more.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-283: Replace imports for icons
  packages/near-dapp/src/shared/ui/components/datepicker/datepicker.tsx
  packages/near-dapp/src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  packages/near-dapp/src/shared/ui/components/layout/type/main.tsx
  packages/near-dapp/src/shared/ui/components/loading/loading.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-283: lib/keyboard/keyBoardMapping.ts -> ui/components/dropdown/keyBoardMapping.ts
  packages/near-dapp/src/shared/ui/components/dropdown/keyBoardMapping.ts
  packages/near-dapp/src/shared/ui/components/dropdown/overlay.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-283: internal shared imports (#189)
  packages/near-dapp/src/shared/ui/components/control/control.tsx
  packages/near-dapp/src/shared/ui/components/datepicker/datepicker.tsx
  packages/near-dapp/src/shared/ui/components/dropdown-menu/dropdown-content/dropdown-content.tsx
  packages/near-dapp/src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  packages/near-dapp/src/shared/ui/components/dropdown/keyBoardMapping.ts
  packages/near-dapp/src/shared/ui/components/dropdown/overlay.tsx
  packages/near-dapp/src/shared/ui/components/input-dropdown/input-dropdown.tsx
  packages/near-dapp/src/shared/ui/components/layout/type/main.tsx
  packages/near-dapp/src/shared/ui/components/loading/loading.tsx
  packages/near-dapp/src/shared/ui/components/navigate/navigate.tsx
  packages/near-dapp/src/shared/ui/components/part-visible-list/part-visible-list.tsx
  packages/near-dapp/src/shared/ui/components/pie-chart/get-pie-chart-data.spec.ts
  packages/near-dapp/src/shared/ui/components/pie-chart/pie-chart.tsx
  packages/near-dapp/src/shared/ui/components/radio-group/radio-group-item.tsx
  packages/near-dapp/src/shared/ui/components/radio-select/radio-select.tsx
  packages/near-dapp/src/shared/ui/components/show-more/show-more.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-212: fix text overflow in the employee card (#188)
  packages/near-dapp/src/entities/employees/ui/employee-card.module.css
Due: prettier --write

RB-247: fix Dockerfile for near-dapp
  packages/near-dapp/Dockerfile
Due: none

RB-247: fix path to polyfill
  packages/near-dapp/index.html
  packages/near-dapp/src/shared/lib/polyfill.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Deploy by task
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

TRIVIAL: Deploy by task (#194)
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
