Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write", "yarn check:unused:exports"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

Update docker-compose.yaml
  docker-compose.yaml
Due: none

TRIVIAL: check unused exports (#131)
  .lintstagedrc
  src/shared/api/near/is-wrap-near-token-id.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-57: add styles for the employee name
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add employee.tsx to the ui segment
  src/entities/employee/index.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employees/ui/employees.module.css
  src/entities/employees/ui/employees.tsx
  src/pages/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add sample for the loadEmployeeFx effect in the employee-model.ts
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: rewrite loadEmployeeFx effect with attach in the employee-model.ts
  src/entities/employee/model/employee-model.ts
  src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add employee.tsx to pages layer
  src/pages/employee.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add pageLoaded event to the employee-model.ts
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add pageLoaded event to the useEffect in employee.tsx
  src/pages/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add route path for the employee page
  src/shared/config/routes.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add styles for the employee type
  src/entities/employee/ui/employee-type.module.css
  src/entities/employee/ui/employee-type.tsx
  src/entities/employee/ui/employee.tsx
  src/entities/employees/ui/employee-status.module.css
  src/shared/ui/components/layout/type/main.module.css
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add styles for employee fields
  src/app/initI18n.ts
  src/entities/employee/i18n/employeeEn.json
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-57: add useParams to the employee.tsx
  src/pages/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add grid for employee fields
  src/entities/employee/ui/employee.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add loadEmployeeFx effect in the employee-model.ts
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: fetch employee from rb-api by id
  src/entities/employee/model/employee-model.ts
  src/pages/employee.tsx
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add CreateTreasuryProposalButton to the employee.tsx
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add three dots icon
  src/shared/ui/icons/dots.svg
Due: none

RB-57: add CreateStreamProposalButton
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: fix filter in the loadEmployeeFx sample logic
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add button with three dots icon in the employee.tsx
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add popover for the three dots button
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add Link to enable navigation from the employees page to employee by id
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add todos about lack of fields in Employee model
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-57: add action buttons to the employee.tsx
  src/entities/employee/i18n/employeeEn.json
  src/entities/employee/ui/employee-status-actions.module.css
  src/entities/employee/ui/employee-status-actions.tsx
  src/entities/employee/ui/employee.tsx
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-57: connect change status feature with the rb-api
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee-status-actions.module.css
  src/entities/employee/ui/employee-status-actions.tsx
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

add concurency
  .github/workflows/cicd_prod.yaml
  .github/workflows/cicd_testnet.yaml
  .github/workflows/quality.yaml
  .github/workflows/rb_testnet.yaml
Due: none

RB-57: add employee detail view (#125)
  src/app/initI18n.ts
  src/entities/employee/i18n/employeeEn.json
  src/entities/employee/index.ts
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee-status-actions.module.css
  src/entities/employee/ui/employee-status-actions.tsx
  src/entities/employee/ui/employee-type.module.css
  src/entities/employee/ui/employee-type.tsx
  src/entities/employee/ui/employee.tsx
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/employee-status.module.css
  src/entities/employees/ui/employees.module.css
  src/entities/employees/ui/employees.tsx
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
  src/pages/employee.tsx
  src/pages/index.tsx
  src/shared/api/rb/generated/rb-api.ts
  src/shared/config/routes.ts
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/icons/dots.svg
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: Update proposal texts
  .lintstagedrc
  src/entities/steam-add-funds/index.tsx
  src/entities/stream-control/StreamControls/index.tsx
  src/entities/stream-control/WithdrawAllButton/index.tsx
  src/entities/streams/create-stream-proposal-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

fix dao test
  tests/pages/newDao.page.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Update proposal texts (#132)
  .lintstagedrc
  src/entities/steam-add-funds/index.tsx
  src/entities/stream-control/StreamControls/index.tsx
  src/entities/stream-control/WithdrawAllButton/index.tsx
  src/entities/streams/create-stream-proposal-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

fix dao test 2.0
  tests/pages/newDao.page.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-180: [Streams] Fix available for contract tokens & actual balance for token by currentDAO
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/treasury/model/treasury.ts
  src/entities/wallet.ts
  src/shared/api/roketo/contract.types.ts
  src/shared/api/roketo/entities.ts
  src/shared/api/roketo/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-183: Page stubs
  src/app/root.tsx
  src/entities/filters/proposals-filters.tsx
  src/entities/streams/create-stream-proposal-button.tsx
  src/pages/employees.tsx
  src/pages/index.tsx
  src/pages/nft.tsx
  src/shared/config/env.ts
  src/shared/config/routes.ts
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/layout/type/main.tsx
  src/shared/ui/components/page-stub/index.ts
  src/shared/ui/components/page-stub/page-stub.tsx
  src/shared/ui/icons/logo.svg
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-183: Page stubs (#135)
  src/app/root.tsx
  src/entities/filters/proposals-filters.tsx
  src/entities/streams/create-stream-proposal-button.tsx
  src/pages/employees.tsx
  src/pages/index.tsx
  src/pages/nft.tsx
  src/shared/config/env.ts
  src/shared/config/routes.ts
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/layout/type/main.tsx
  src/shared/ui/components/page-stub/index.ts
  src/shared/ui/components/page-stub/page-stub.tsx
  src/shared/ui/icons/logo.svg
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Prefinal fixes
  package.json
  src/entities/councils/ui/councils/councils.tsx
  src/entities/filters/proposals-filters.tsx
  src/entities/governance/ui/governance.tsx
  src/entities/governance/ui/proposals-list.tsx
  src/entities/proposal/controls.tsx
  src/entities/proposal/ui/proposal.module.css
  src/entities/proposal/ui/proposal.tsx
  src/entities/proposal/ui/votes/votes.module.css
  src/entities/treasury/ui/proposals-list.tsx
  src/entities/treasury/ui/treasury-info.tsx
  src/entities/treasury/ui/treasury.tsx
  src/shared/ui/components/button/button.module.css
  src/shared/ui/components/control/control.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/line/line.module.css
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

TRIVIAL: Prefinal fixes (#136)
  package.json
  src/entities/councils/ui/councils/councils.tsx
  src/entities/filters/proposals-filters.tsx
  src/entities/governance/ui/governance.tsx
  src/entities/governance/ui/proposals-list.tsx
  src/entities/proposal/controls.tsx
  src/entities/proposal/ui/proposal.module.css
  src/entities/proposal/ui/proposal.tsx
  src/entities/proposal/ui/votes/votes.module.css
  src/entities/treasury/ui/proposals-list.tsx
  src/entities/treasury/ui/treasury-info.tsx
  src/entities/treasury/ui/treasury.tsx
  src/shared/ui/components/button/button.module.css
  src/shared/ui/components/control/control.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.module.css
  src/shared/ui/components/dropdown-menu/dropdown-menu.tsx
  src/shared/ui/components/layout/type/main.module.css
  src/shared/ui/components/line/line.module.css
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-179: hide notifications
  src/features/notifications/ui/notifications.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-179: add treasury control buttons on the mobile screen in the dashboard.tsx
  src/entities/dashboard/ui/dashboard.tsx
  src/entities/treasury/ui/treasury-info.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-179: remove redundant min-width in the proposal.module.css
  src/entities/proposal/ui/proposal.module.css
Due: prettier --write
