Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-200: fix modal in popup disappearing
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: add draftInvoices fetching
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/employees.tsx
  src/entities/treasury/model/treasury.ts
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: update text in DraftInvoice
  src/entities/employees/ui/draft-invoice.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: add form schema for the update employee feature
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: remove stubs
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/draft-invoice.tsx
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: fix conditional rendering
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: add employee update form
  .eslintrc
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employee/ui/update-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-204: add values passing to the employee update form
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: fix cycle dependency
  src/entities/employee/ui/update-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: Empty employees list stub
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/employees.module.css
  src/entities/employees/ui/employees.tsx
  src/entities/employees/ui/empty-employee-list/empty-employee-list.module.css
  src/entities/employees/ui/empty-employee-list/empty-employee-list.tsx
  src/entities/employees/ui/empty-employee-list/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-204: Fix input dropdown bug (missing value)
  src/entities/employee/model/employee-model.ts
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/ui/employees.tsx
  src/shared/ui/components/dropdown/dropdown.tsx
  src/shared/ui/components/input/input.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-204: Set confirmed status for draft invoice that proposed
  src/entities/employees/model/employees-model.ts
  src/entities/treasury/model/treasury.ts
  src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: connect update employee with rb-api
  src/entities/employee/model/employee-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: format dates
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employees/ui/draft-invoice.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-204: fix payPeriod options
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/update-employee-modal.tsx
  src/entities/employees/ui/create-employee-modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

[WIP]: RB-204: Add employee payment proposal from draft (#157)
  .eslintrc
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employee/ui/update-employee-modal.tsx
  src/entities/employees/i18n/employeesEn.json
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/draft-invoice.tsx
  src/entities/employees/ui/employees.module.css
  src/entities/employees/ui/employees.tsx
  src/entities/employees/ui/empty-employee-list/empty-employee-list.module.css
  src/entities/employees/ui/empty-employee-list/empty-employee-list.tsx
  src/entities/employees/ui/empty-employee-list/index.ts
  src/entities/treasury/model/treasury.ts
  src/entities/treasury/ui/create-treasury-proposal-button.tsx
  src/shared/api/rb/generated/rb-api.ts
  src/shared/ui/components/dropdown/dropdown.tsx
  src/shared/ui/components/input/input.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

fix no up container
  .github/workflows/cicd_prod.yaml
Due: none

TRIVIAL: add current draft invoices for specific employee
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: remove payoutType
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employee/ui/update-employee-modal.tsx
  src/entities/employees/ui/create-employee-modal.tsx
  src/entities/employees/ui/employee-status.tsx
  src/shared/types/employee.d.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: fix date format for the invoice drafts
  src/entities/employees/ui/draft-invoice.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: fix salary text on cards
  src/entities/employee/ui/employee.tsx
  src/entities/employees/ui/employee-card.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

[WIP]: TRIVIAL: employees fixes (#160)
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employee/ui/update-employee-modal.tsx
  src/entities/employees/ui/create-employee-modal.tsx
  src/entities/employees/ui/draft-invoice.tsx
  src/entities/employees/ui/employee-card.tsx
  src/entities/employees/ui/employee-status.tsx
  src/shared/types/employee.d.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

add testnet
  .env.test
  .github/workflows/cicd_prod_or_testnet.yaml
Due: none

fix name
  .github/workflows/cicd_prod_or_testnet.yaml
Due: none

TRIVIAL: fix date in draft invoice form description
  src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: pass near login to the transfer to the employee form
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: hide draft on employee page
  src/entities/employee/model/employee-model.ts
  src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: fix equal employee card height
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: hide draft on employee page (#162)
  src/entities/employee/model/employee-model.ts
  src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

TRIVIAL: Employees fixes (#161)
  src/entities/employee/model/employee-model.ts
  src/entities/employee/ui/employee.tsx
  src/entities/employees/model/employees-model.ts
  src/entities/employees/ui/employees.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

change policy test
  tests/pages/governance.page.ts
  tests/shared/dao-management.ts
  tests/suites/addCouncil.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [Test] fix for test imports
  jest.config.js
  package.json
  src/features/auth/ui/login-portlet.tsx
  src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-function-call-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.ts
  src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
  src/shared/api/near/index.ts
  src/shared/api/near/options.ts
  src/shared/api/near/resolve-wallet-icon.ts
  src/shared/config/env.ts
  tests/shared/dao-management.ts
  tests/suites/addCouncil.e2e.ts
  vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: [Test] fix for test imports
  jest.config.js
  package.json
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: [Test] fix fail start project
  package.json
  src/shared/config/env.ts
  vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-192: [Stream] Description entered in stream proposal modal isn't reflected at proposal form
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/streams/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-192: [Stream] Description entered in stream proposal modal isn't reflected at proposal form (#163)
  src/entities/create-stream/CreateStream/index.tsx
  src/entities/streams/lib.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

mama i'll fix it
  .github/workflows/cicd_prod.yaml
Due: none

fix of fix
  docker-compose.yaml
Due: none

RB-178: [Proposal] Amount shown incorrect when transfer tokens other than near
  src/entities/proposal/lib/get-readable-proposal-title.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-178: [Proposal] Amount shown incorrect when transfer tokens other than near (#164)
  src/entities/proposal/lib/get-readable-proposal-title.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
