Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-149: [Governance]. Change charge to charged (spelling error) (#172)
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
Due: prettier --write --parser json

RB-152: Create proposal form. 'cancel' redirects to dashboard
  .gitignore
  .husky/pre-commit
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/councils/ui/councils/change-policy-button.tsx
  packages/near-dapp/src/entities/councils/ui/councils/create-proposal-change-policy-form.tsx
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  packages/near-dapp/src/entities/treasury/ui/create-treasury-proposal-modal.tsx
  packages/near-dapp/src/shared/kit/AdaptiveModal/index.tsx
  packages/near-dapp/src/shared/ui/components/modal/modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-147: [UI] Modal proposal form. close icon isn't visible & modal window goes over 'x' which makes it impossible to close modal
  packages/near-dapp/src/shared/ui/components/modal/modal.module.css
Due: prettier --write

RB-152: Create proposal form. 'cancel' redirects to dashboard (#173)
  .gitignore
  .husky/pre-commit
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/councils/ui/councils/change-policy-button.tsx
  packages/near-dapp/src/entities/councils/ui/councils/create-proposal-change-policy-form.tsx
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  packages/near-dapp/src/entities/treasury/ui/create-treasury-proposal-modal.tsx
  packages/near-dapp/src/shared/kit/AdaptiveModal/index.tsx
  packages/near-dapp/src/shared/ui/components/modal/modal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-231: Filter streaming tokens by tokens on accounts
  packages/near-dapp/src/entities/create-stream/CreateStream/index.tsx
  packages/near-dapp/src/entities/create-stream/TokenSelector/index.tsx
  packages/near-dapp/src/entities/wallet.ts
  src/entities/treasury/lib/filter-rich-tokens-by-balance.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-231: Filter streaming tokens by tokens on accounts
  packages/near-dapp/README.md
  packages/near-dapp/src/entities/councils/ui/councils/create-proposal-change-policy-form.tsx
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  packages/near-dapp/src/entities/treasury/lib/filter-rich-tokens-by-balance.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/treasury/ui/create-treasury-proposal-modal.tsx
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-147: [UI] Modal proposal form. close icon isn't visible & modal window goes over 'x' which makes it impossible to close modal (#174)
  packages/near-dapp/src/shared/ui/components/modal/modal.module.css
Due: prettier --write

RB-231: Filter streaming tokens by tokens on accounts (#170)
  packages/near-dapp/README.md
  packages/near-dapp/src/entities/councils/ui/councils/create-proposal-change-policy-form.tsx
  packages/near-dapp/src/entities/create-stream/CreateStream/index.tsx
  packages/near-dapp/src/entities/create-stream/TokenSelector/index.tsx
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
  packages/near-dapp/src/entities/treasury/lib/filter-rich-tokens-by-balance.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/treasury/ui/create-treasury-proposal-modal.tsx
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-231: Filter streaming tokens by tokens on accounts
  src/entities/treasury/lib/filter-rich-tokens-by-balance.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-239: Remove hardcode VITE_RB_API
  packages/near-dapp/package.json
Due: prettier --write --parser json

RB-239: Remove hardcode VITE_RB_API (#175)
  packages/near-dapp/package.json
Due: prettier --write --parser json

add contractor and freelancer tests
  packages/near-dapp/tests/fixtures/dApp-authenticaded.json
  packages/near-dapp/tests/pages/employees.page.ts
  packages/near-dapp/tests/suites/addContractor.e2e.ts
  packages/near-dapp/tests/suites/addFreelancer.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: change locator for period
  packages/near-dapp/tests/pages/employees.page.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: change logic for open Modal window
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/entities/employees/ui/create-employee-button.tsx
  packages/near-dapp/src/entities/employees/ui/create-employee-modal.tsx
  packages/near-dapp/tests/pages/employees.page.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-178: [Treasury] Token name NEAR isn’t reflected in proposal form
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-251: [Treasury] Show token name not contract address
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-225: Stub for testnet near drops (add variable)
  packages/near-dapp/.env
  packages/near-dapp/src/shared/api/near/near.ts
  packages/near-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-243: Ping
  packages/near-dapp/static-server.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-178 [Treasury] fix token symbol (#177)
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.ts
  packages/near-dapp/src/entities/proposal/ui/create-proposal-form/create-proposal-form.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-228: local variable
  packages/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-228: [RB] Handle auth form custom fetch
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/authentication-rb-api.ts
  packages/near-dapp/src/entities/dao.ts
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/wallet.ts
  packages/near-dapp/src/shared/api/astro/generated/astro-api.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
  packages/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-243: Ping (#179)
  packages/near-dapp/static-server.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-228: init.headers
  packages/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-228: update rb-api client
  packages/near-dapp/src/entities/authentication-rb-api.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-228: [RB] Handle auth form custom fetch (#178)
  packages/near-dapp/package.json
  packages/near-dapp/src/entities/authentication-rb-api.ts
  packages/near-dapp/src/entities/dao.ts
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/wallet.ts
  packages/near-dapp/src/shared/api/astro/generated/astro-api.ts
  packages/near-dapp/src/shared/api/rb/generated/rb-api.ts
  packages/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-246: Create solana-dapp
  packages/solana-dapp/Dockerfile
  packages/solana-dapp/README.md
Due: prettier --write

RB-260: Switch off SenderWallet
  packages/near-dapp/src/shared/api/near/near.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-260: Switch off SenderWallet (#181)
  packages/near-dapp/src/shared/api/near/near.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-260 fix property 'near' does not exist on type 'Window & typeof globalThis'
  packages/near-dapp/src/shared/api/near/near.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Rb-253: [Infra] Template gh actions
  .github/actions/yarn-nm-install/action.yml
  .github/workflows/playwright.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .husky/pre-commit
  packages/near-dapp/package.json
  packages/solana-dapp/package.json
Due: prettier --write --parser json

Rb-253: [Infra] Template gh actions
  .github/workflows/playwright.yaml
  .github/workflows/quality.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  .husky/pre-commit
  packages/near-dapp/package.json
  packages/solana-dapp/package.json
Due: prettier --write --parser json

Rb-253: [Infra] Template gh actions
  .github/workflows/playwright.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_test_testnet.yaml
Due: none

Rb-253: [Infra] Template gh actions
  .github/workflows/quality_reusable_matrix_workflow.yaml
Due: none

Rb-253: [Infra] Template gh actions
  packages/near-dapp/tests/suites/addContractor.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Rb-253: [Infra] Template gh actions
  .github/workflows/playwright.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
  packages/near-dapp/tests/suites/addContractor.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

Rb-253: [Infra] Template gh actions
  .github/workflows/deploy_reusable.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/quality_reusable_matrix_workflow.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
