Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-298: Informative description for stream proposals
  packages/core/lib/base64.ts
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.ts
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.tsx
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/entities/stream-link/get-stream-id.ts
  packages/near-dapp/src/entities/stream-link/index.tsx
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

Update GA_TRACKING_ID
  packages/near-dapp/.env
Due: none

RB-293: fix sidebar instant opening (#207)
  packages/core/package.json
  packages/core/ui/components/navigate/navigate.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-298: [Stream] fix text
  packages/near-dapp/src/entities/create-stream/lib.ts
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.tsx
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-350: Common polyfills
  packages/core/lib/polyfills/buffer.ts
  packages/core/lib/polyfills/env.ts
  packages/core/lib/polyfills/index.ts
  packages/main-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/wallet.ts
  packages/near-dapp/src/index.tsx
  packages/near-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/vite.config.js
  packages/solana-dapp/src/shared/lib/polyfill.ts
  packages/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-351: Handle effector errors
  packages/core/effects/screens.ts
  packages/core/lib/effector.ts
  packages/core/lib/roketo/protectedEffect.ts
  packages/core/roketo/protectedEffect.ts
  packages/main-dapp/.env
  packages/main-dapp/src/entities/app.ts
  packages/main-dapp/src/shared/config/env.ts
  packages/near-dapp/.env
  packages/near-dapp/src/entities/account-exist-effect.ts
  packages/near-dapp/src/entities/app.ts
  packages/near-dapp/src/entities/blur.ts
  packages/near-dapp/src/entities/create-stream/CreateStream/model.ts
  packages/near-dapp/src/entities/dao.ts
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/proposal/model/proposal.ts
  packages/near-dapp/src/entities/steam-add-funds/model.ts
  packages/near-dapp/src/entities/stream-control/StreamControls/model.ts
  packages/near-dapp/src/entities/stream-control/WithdrawAllButton/model.ts
  packages/near-dapp/src/entities/stream/model.ts
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/transactions.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/wallet.ts
  packages/near-dapp/src/index.tsx
  packages/near-dapp/src/shared/config/env.ts
  packages/solana-dapp/.env
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/entities/dao.ts
  packages/solana-dapp/src/entities/wallet/connection.ts
  packages/solana-dapp/src/entities/wallet/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
  packages/solana-dapp/src/entities/wallet/wallet.ts
  packages/solana-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-350: Common polyfills (#211)
  packages/core/lib/polyfills/buffer.ts
  packages/core/lib/polyfills/env.ts
  packages/core/lib/polyfills/index.ts
  packages/main-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/src/index.tsx
  packages/near-dapp/src/shared/lib/polyfill.ts
  packages/near-dapp/vite.config.js
  packages/solana-dapp/src/shared/lib/polyfill.ts
  packages/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

Update packages/near-dapp/src/entities/stream-link/index.tsx
  packages/near-dapp/src/entities/stream-link/index.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-338: [Dao] Block by default any actions on DAO by Everyone except council (#209)
  packages/near-dapp/src/shared/api/near/contracts/sputnik-factory-dao/map-create-args.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-298: Informative description for stream proposals (#206)
  packages/core/lib/base64.ts
  packages/near-dapp/src/entities/create-stream/lib.ts
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.ts
  packages/near-dapp/src/entities/proposal/lib/get-readable-proposal-title.tsx
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/entities/stream-link/get-stream-id.ts
  packages/near-dapp/src/entities/stream-link/index.tsx
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-351: Handle effector errors (#212)
  packages/core/effects/screens.ts
  packages/core/lib/effector.ts
  packages/core/lib/roketo/protectedEffect.ts
  packages/core/roketo/protectedEffect.ts
  packages/main-dapp/.env
  packages/main-dapp/src/entities/app.ts
  packages/main-dapp/src/shared/config/env.ts
  packages/near-dapp/.env
  packages/near-dapp/src/entities/account-exist-effect.ts
  packages/near-dapp/src/entities/app.ts
  packages/near-dapp/src/entities/blur.ts
  packages/near-dapp/src/entities/create-stream/CreateStream/model.ts
  packages/near-dapp/src/entities/dao.ts
  packages/near-dapp/src/entities/employee/model/employee-model.ts
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/governance/model/governance.ts
  packages/near-dapp/src/entities/proposal/model/proposal.ts
  packages/near-dapp/src/entities/steam-add-funds/model.ts
  packages/near-dapp/src/entities/stream-control/StreamControls/model.ts
  packages/near-dapp/src/entities/stream-control/WithdrawAllButton/model.ts
  packages/near-dapp/src/entities/stream/model.ts
  packages/near-dapp/src/entities/streams/model.ts
  packages/near-dapp/src/entities/transactions.ts
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/wallet.ts
  packages/near-dapp/src/shared/config/env.ts
  packages/solana-dapp/.env
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/entities/dao.ts
  packages/solana-dapp/src/entities/wallet/connection.ts
  packages/solana-dapp/src/entities/wallet/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
  packages/solana-dapp/src/entities/wallet/wallet.ts
  packages/solana-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

trivial: update logo
  packages/core/ui/components/layout/type/main.module.css
  packages/core/ui/icons/logo.svg
Due: prettier --write

add voting for councils tests
  packages/near-dapp/.env.local.example
  packages/near-dapp/playwright.config.ts
  packages/near-dapp/src/entities/councils/ui/councils-list/councils-list.tsx
  packages/near-dapp/src/entities/proposal/ui/proposal.tsx
  packages/near-dapp/src/entities/proposal/ui/votes/votes.tsx
  packages/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-add-council-options.ts
  packages/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-change-quorum-options/map-change-quorum-options.ts
  packages/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-function-call-options.ts
  packages/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.ts
  packages/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-remove-council-options.ts
  packages/near-dapp/src/shared/api/near/index.ts
  packages/near-dapp/src/shared/api/near/options.ts
  packages/near-dapp/src/shared/api/near/resolve-wallet-icon.ts
  packages/near-dapp/tests/page-objects/proposals.ts
  packages/near-dapp/tests/pages/employees.page.ts
  packages/near-dapp/tests/pages/governance.page.ts
  packages/near-dapp/tests/pages/login.page.ts
  packages/near-dapp/tests/shared/dao-management.ts
  packages/near-dapp/tests/suites/approveAddCouncilProposal.e2e.ts
  packages/near-dapp/tests/suites/approveRemoveCouncilProposal.e2e.ts
  packages/near-dapp/tests/suites/createAddCouncilProposal.e2e.ts
  packages/near-dapp/tests/suites/createChangePolicyProposal.e2e.ts
  packages/near-dapp/tests/suites/rejectRemoveCouncilProposal.e2e.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-150: fix test
  packages/near-dapp/src/features/auth/ui/login-portlet.tsx
  packages/near-dapp/src/shared/api/near/resolve-wallet-icon.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

feat(core): add storybook
  packages/core/.storybook/custom-configs/README.md
  packages/core/.storybook/custom-configs/postcss.config.js
  packages/core/.storybook/custom-configs/tailwind.config.js
  packages/core/.storybook/main.js
  packages/core/.storybook/package.json
  packages/core/.storybook/preview-head.html
  packages/core/.storybook/preview.js
  packages/core/package.json
  packages/core/roketo-ui/FormikCheckbox/index.tsx
  packages/core/roketo-ui/components/Checkbox/index.tsx
  packages/core/ui/components/button/button.stories.tsx
  packages/core/ui/components/chip/chip.stories.tsx
  packages/core/ui/components/input/input.stories.tsx
  packages/core/ui/components/layout/layout.tsx
  packages/core/ui/components/portlet/portlet.stories.tsx
  packages/core/ui/components/radio/radio.stories.tsx
  packages/core/ui/components/show-more/show-more.stories.tsx
  packages/core/ui/components/table/index.ts
  packages/core/ui/components/table/table-cell.tsx
  packages/core/ui/components/table/table-head.tsx
  packages/core/ui/components/table/table-row.tsx
  packages/core/ui/components/table/table.module.scss
  packages/core/ui/components/table/table.tsx
  packages/core/ui/components/tabs/tabs.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

feat(core): add storybook (#214)
  packages/core/.storybook/custom-configs/README.md
  packages/core/.storybook/custom-configs/postcss.config.js
  packages/core/.storybook/custom-configs/tailwind.config.js
  packages/core/.storybook/main.js
  packages/core/.storybook/package.json
  packages/core/.storybook/preview-head.html
  packages/core/.storybook/preview.js
  packages/core/package.json
  packages/core/roketo-ui/FormikCheckbox/index.tsx
  packages/core/roketo-ui/components/Checkbox/index.tsx
  packages/core/ui/components/button/button.stories.tsx
  packages/core/ui/components/chip/chip.stories.tsx
  packages/core/ui/components/input/input.stories.tsx
  packages/core/ui/components/layout/layout.tsx
  packages/core/ui/components/portlet/portlet.stories.tsx
  packages/core/ui/components/radio/radio.stories.tsx
  packages/core/ui/components/show-more/show-more.stories.tsx
  packages/core/ui/components/table/index.ts
  packages/core/ui/components/table/table-cell.tsx
  packages/core/ui/components/table/table-head.tsx
  packages/core/ui/components/table/table-row.tsx
  packages/core/ui/components/table/table.module.scss
  packages/core/ui/components/table/table.tsx
  packages/core/ui/components/tabs/tabs.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: [Turborepo] Manage monorepo with turborepo
  apps/main-dapp/vite.config.js
  apps/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: fix
  .github/workflows/deploy_reusable.yaml
  apps/near-dapp/src/shared/api/astro/index.ts
  apps/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: fix
  Dockerfile
  apps/near-dapp/package.json
  package.json
Due: prettier --write --parser json

RB-0: fix
  package.json
Due: prettier --write --parser json

RB-0: fix
  apps/main-dapp/package.json
Due: prettier --write --parser json

RB-0: remove eslint-disable
  apps/near-dapp/src/shared/api/astro/index.ts
  apps/near-dapp/src/shared/api/rb/index.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: fix import
  apps/near-dapp/src/shared/api/near/contracts/sputnik-dao/map-multi-vote-options.spec.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: move .babelrc
  apps/solana-dapp/.babelrc
Due: prettier --write --parser json

RB-0: fix Playwright
  .github/workflows/playwright.yaml
Due: none

RB-0: test and fix Dockerfile
  Dockerfile
  apps/near-dapp/package.json
  apps/near-dapp/src/entities/proposal/ui/proposal.tsx
  packages/core/ui/components/button/button.tsx
  turbo.json
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-0: test
  turbo.json
Due: prettier --write --parser json

RB-0: test
  apps/near-dapp/src/entities/proposal/ui/proposal.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: test
  .gitignore
  Dockerfile
Due: none

RB-0: add script
  .scripts/post_turbo_prune.sh
  Dockerfile
Due: none

Create README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
