Repository roke-to/roketo-business-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-291: refactor employees filters, add mobile view (#204)
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/employees/ui/employees-filters.module.css
  packages/near-dapp/src/entities/employees/ui/employees-filters.tsx
  packages/near-dapp/src/entities/employees/ui/employees.module.css
  packages/near-dapp/src/entities/employees/ui/employees.tsx
  packages/near-dapp/src/entities/employees/ui/filter.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

main dapp is near
  .github/workflows/deploy_prod_testnet.yaml
Due: none

replace job names
  .github/workflows/deploy_prod_mainnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
  .github/workflows/deploy_test_testnet.yaml
  .github/workflows/playwright_reusable_matrix_workflow.yaml
Due: none

Update deploy_prod_testnet.yaml
  .github/workflows/deploy_prod_testnet.yaml
Due: none

RB-233: Add links to explorer on proposals
  packages/near-dapp/.env
  packages/near-dapp/.env.mainnet
  packages/near-dapp/.env.testnet
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/entities/proposal/ui/proposal.tsx
  packages/near-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-247: @roketo/core
  packages/near-dapp/index.html
  packages/near-dapp/src/shared/lib/polyfill.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247: solana first steps
  packages/core/effects/screens.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/near-dapp/src/app/root.tsx
  packages/near-dapp/src/entities/dashboard/ui/dashboard.tsx
  packages/near-dapp/src/entities/filters/proposal-status-filter.tsx
  packages/near-dapp/src/entities/filters/proposals-filters.tsx
  packages/near-dapp/src/entities/proposal/ui/proposal.tsx
  packages/near-dapp/src/entities/streams/StreamFilters/index.tsx
  packages/near-dapp/src/entities/streams/model.ts
  packages/solana-dapp/package.json
  packages/solana-dapp/src/app/initI18n.ts
  packages/solana-dapp/src/app/root.tsx
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/entities/dao.ts
  packages/solana-dapp/src/entities/wallet.ts
  packages/solana-dapp/src/features/auth/index.ts
  packages/solana-dapp/src/features/auth/lib/i18n/authEn.json
  packages/solana-dapp/src/features/auth/ui/login-portlet.tsx
  packages/solana-dapp/src/features/dao/lib/i18n/daoEn.json
  packages/solana-dapp/src/features/dao/ui/dao-init.tsx
  packages/solana-dapp/src/features/dao/ui/dao-new-modal.tsx
  packages/solana-dapp/src/features/dao/ui/dao-new-portlet.tsx
  packages/solana-dapp/src/features/dao/ui/dao-new.tsx
  packages/solana-dapp/src/features/dao/ui/dao-switcher.module.css
  packages/solana-dapp/src/features/dao/ui/dao-switcher.tsx
  packages/solana-dapp/src/features/notifications/ui/index.ts
  packages/solana-dapp/src/features/notifications/ui/notifications.tsx
  packages/solana-dapp/src/pages/dao-new.tsx
  packages/solana-dapp/src/pages/dao.tsx
  packages/solana-dapp/src/pages/index.tsx
  packages/solana-dapp/src/pages/login.tsx
  packages/solana-dapp/src/pages/not-found.tsx
  packages/solana-dapp/src/shared/api/solana/options.ts
  packages/solana-dapp/src/shared/config/routes.ts
  packages/solana-dapp/src/shared/lib/polyfill.ts
  packages/solana-dapp/src/shared/lib/router.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-247: fix path to polyfill
  packages/near-dapp/index.html
  packages/near-dapp/src/shared/lib/polyfill.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247: try rewrite WalletContextProvider to effector
  packages/core/ui/icons/wallet/solana-wallet.svg
  packages/solana-dapp/package.json
  packages/solana-dapp/src/app/root.tsx
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/entities/wallet.ts
  packages/solana-dapp/src/features/auth/ui/login-portlet.tsx
  packages/solana-dapp/src/features/auth/ui/wallet-context-provider.tsx
  packages/solana-dapp/src/index.tsx
  packages/solana-dapp/src/pages/login.tsx
  packages/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-247: try rewrite WalletContextProvider to effector
  packages/solana-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247: change version @solana/wallet-adapter
  packages/solana-dapp/package.json
  packages/solana-dapp/src/entities/connection.ts
  packages/solana-dapp/src/entities/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet-base.ts
  packages/solana-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-247: change version @solana/wallet-adapter
  packages/solana-dapp/.env.mainnet
  packages/solana-dapp/src/entities/app.ts
  packages/solana-dapp/src/entities/connection.ts
  packages/solana-dapp/src/entities/wallet-base.ts
  packages/solana-dapp/src/entities/wallet.ts
  packages/solana-dapp/src/entities/wallet/connection.ts
  packages/solana-dapp/src/entities/wallet/getEnvironment.ts
  packages/solana-dapp/src/entities/wallet/getInferredClusterFromEndpoint.ts
  packages/solana-dapp/src/entities/wallet/index.ts
  packages/solana-dapp/src/entities/wallet/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
  packages/solana-dapp/src/entities/wallet/wallet.ts
  packages/solana-dapp/src/features/auth/ui/login-portlet.tsx
  packages/solana-dapp/src/index.tsx
  packages/solana-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247: change version @solana/wallet-adapter
  packages/solana-dapp/src/entities/wallet/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
  packages/solana-dapp/src/entities/wallet/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247: auth in solana
  packages/solana-dapp/.env.local.example
  packages/solana-dapp/package.json
  packages/solana-dapp/src/entities/dao.ts
  packages/solana-dapp/src/entities/wallet/index.ts
  packages/solana-dapp/src/entities/wallet/standard-wallet-adapters.ts
  packages/solana-dapp/src/entities/wallet/utils.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
  packages/solana-dapp/src/entities/wallet/wallet.ts
  packages/solana-dapp/src/features/auth/ui/login-portlet.tsx
  packages/solana-dapp/src/features/auth/ui/wallet-context-provider.tsx
  packages/solana-dapp/src/shared/config/routes.ts
  packages/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

RB-247: auth in solana
  .github/workflows/playwright_reusable_matrix_workflow.yaml
Due: none

RB-247: auth in solana
  packages/near-dapp/src/entities/employee/ui/employee.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

yarn lock
  yarn.lock
Due: none

RB-247 fix merge bugs
  packages/near-dapp/src/entities/employees/ui/employees-filters.tsx
  packages/solana-dapp/src/app/root.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-247 fix logout
  packages/solana-dapp/src/entities/dao.ts
  packages/solana-dapp/src/entities/wallet/wallet-base.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-233: Add links to explorer on proposals (#200)
  packages/near-dapp/.env
  packages/near-dapp/.env.mainnet
  packages/near-dapp/.env.testnet
  packages/near-dapp/src/entities/proposal/lib/i18n/proposalEn.json
  packages/near-dapp/src/entities/proposal/ui/proposal.tsx
  packages/near-dapp/src/shared/config/env.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

move cache to gcr
  .github/workflows/deploy_reusable.yaml
Due: none

remove cache
  .github/workflows/deploy_reusable.yaml
Due: none

add react-use-intercom to core
  packages/core/package.json
Due: prettier --write --parser json

debug empty stream form
  packages/near-dapp/src/entities/create-stream/CreateStream/index.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports

disable autodeploy to prod testnet
  .github/workflows/deploy_prod_testnet.yaml
Due: none

more debug
  .github/workflows/deploy_reusable.yaml
  packages/core/package.json
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

effector-logger
  packages/near-dapp/src/entities/treasury/model/treasury.ts
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

NEAR_NO_LOGS
  packages/near-dapp/.env
Due: none

moar
  packages/core/lib/polyfill.ts
  packages/near-dapp/.env
  packages/near-dapp/src/index.tsx
  packages/solana-dapp/vite.config.js
Due: eslint --fix, prettier --write, yarn check:unused:exports

up version of compose add .env to future versioning
  .github/workflows/deploy_reusable.yaml
Due: none

fix message
  .github/workflows/deploy_reusable.yaml
Due: none

fix env
  .github/workflows/deploy_reusable.yaml
Due: none

RB-0: [RB-API] fix api types
  packages/near-dapp/src/entities/employees/model/employees-model.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: remove debugger
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-0: [RB-API] fix api types (#208)
  packages/near-dapp/src/entities/employees/model/employees-model.ts
  packages/near-dapp/src/entities/wallet.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-338: [Dao] Block by default any actions on DAO by Everyone except council
  packages/near-dapp/src/shared/api/near/contracts/sputnik-factory-dao/map-create-args.ts
Due: eslint --fix, prettier --write, yarn check:unused:exports

RB-293: fix sidebar instant opening
  packages/core/package.json
  packages/core/ui/components/navigate/navigate.tsx
Due: eslint --fix, prettier --write, yarn check:unused:exports, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  yarn check:unused:exports: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
